<div class="row ">
    <div class="col-12 ">
        <h3>{{title}}</h3>
        <form #miForm="ngForm" (ngSubmit)="submitProveedor(miForm)">
            <!-- <input type="hidden" name="id" [(ngModel)]="provider.id"> -->
            <div class="row border-1 ">
        
                
            <div class="col-3 mb-3">
                <label class="form-label">Código</label>
                <input type="text" class="form-control" [readOnly]="(indexProv >=0)" placeholder="Código Proveedor" name="codigo" [(ngModel)]="provider.code" required minlength="3" #code="ngModel">
                <div *ngIf="code.errors?.['minlength']" class="col-auto">
                    <span class="form-text text-danger ">
                        Debe tener al menos 3 caracteres
                    </span>
                </div>
                <div *ngIf="code.errors?.['required'] " class="col-auto">
                    <span class="form-text text-danger">
                        El dato es obligatorio
                    </span>
                </div>
            </div>
            <div class="col-5 mb-3">
              <label class="form-label">Razón Social</label>
              <input type="text" class="form-control" placeholder="Razón Social" name="denomination" [(ngModel)]="provider.denomination" required minlength="3" #denomination="ngModel">
              <div *ngIf="denomination.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener al menos 3 caracteres
                  </span>
              </div>
              <div *ngIf="denomination.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>
            <div class="col-4 mb-3">
              <label class="form-label"for="sectorsField_id">Rubro</label>
              
                    <select class="form-select " name="sectorsField_id" id="sectorsField_id"  [(ngModel)]="provider.sectorsField.sectorName"  (ngModelChange)="setRubro($event)" required >
                       
                        <option *ngFor="let item of rubroLista; index as i" [ngValue]="{id: item.sectorsfield_id, name: item.sectorsfield_name}"  >{{item.sectorsfield_name}}</option>
                      
                    </select>
             
            </div>
            </div>

            <div class="row border-1 ">
            <div class="col-5 mb-3">
              <label class="form-label">Sitio Web</label>
              <input type="text" class="form-control" placeholder="Sitio Web" name="website" [(ngModel)]="provider.website" required minlength="4" #website="ngModel">
              <div *ngIf="website.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="website.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>
            <div class="col-4 mb-3">
              <label class="form-label">E-Mail</label>
              <input type="email" class="form-control" placeholder="email@email.com" name="email" [(ngModel)]="provider.email" required minlength="4" #email="ngModel">
              <div *ngIf="email.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="email.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>
            <div class="col-3 mb-3">
              <label class="form-label">Teléfono</label>
              <input type="text" class="form-control" placeholder="Número Telefónico" name="phone" [(ngModel)]="provider.phone" required minlength="4" #phone="ngModel">
              <div *ngIf="phone.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="phone.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>

            </div>
            <div class="row border-1 ">
            
            <div class="col-3 mb-3">
              <label class="form-label">País</label>
              <input type="text" class="form-control" placeholder="País" name="country_id" [(ngModel)]="provider.jurisdictions.country.name" required minlength="4" #country_id="ngModel">
              <div *ngIf="country_id.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="country_id.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>
            <div class="col-2 mb-3">
              <label class="form-label">Provincia / Estado</label>
              <input type="text" class="form-control" placeholder="Provincia" name="jurisdiction_id" [(ngModel)]="provider.jurisdictions.name" required minlength="4" #jurisdiction_id="ngModel">
              <div *ngIf="jurisdiction_id.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="jurisdiction_id.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>
            <div class="col-3 mb-3">
              <label class="form-label">Ciudad</label>
              <input type="text" class="form-control" placeholder="Ciudad" name="city" [(ngModel)]="provider.city" required minlength="4" #city="ngModel">
              <div *ngIf="city.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="city.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>
            <div class="col-3 mb-3">
                <label class="form-label">Dirección</label>
                <input type="text" class="form-control" placeholder="Calle" name="street" [(ngModel)]="provider.street" required minlength="4" #street="ngModel">
                <div *ngIf="street.errors?.['minlength']" class="col-auto">
                    <span class="form-text text-danger ">
                        Debe tener almenos 4 caracteres
                    </span>
                </div>
                <div *ngIf="street.errors?.['required']" class="col-auto">
                    <span class="form-text text-danger">
                        El dato es obligatorio
                    </span>
                </div>
              </div>
              <div class="col-1 mb-3">
                <label class="form-label">Número</label>
                <input type="text" class="form-control" placeholder="altura" name="addressNumber" [(ngModel)]="provider.addressNumber" required minlength="4" #addressNumber="ngModel">
                <div *ngIf="addressNumber.errors?.['minlength']" class="col-auto">
                    <span class="form-text text-danger ">
                        Debe tener almenos 4 caracteres
                    </span>
                </div>
                <div *ngIf="addressNumber.errors?.['required']" class="col-auto">
                    <span class="form-text text-danger">
                        El dato es obligatorio
                    </span>
                </div>
              </div>
            </div>
            <div class="row border-1 ">
            <h5>Situación Fiscal</h5>
            <div class="col-3 mb-3">
              <label class="form-label">C.U.I.T.</label>
              <input type="text" class="form-control" placeholder="Número de C.U.I.T." name="cuit" [(ngModel)]="provider.cuit" required minlength="4" #cuit="ngModel">
              <div *ngIf="cuit.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="cuit.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            <!-- </div>

                 <select class="form-select " name="sectorsField_id" id="sectorsField_id"  [(ngModel)]="provider.sectorsField.sectorName"  (ngModelChange)="setRubro($event)" required >
                       
                        <option *ngFor="let item of rubroLista; index as i" [ngValue]="{id: item.id}"  >{{item.name}}</option>


            <div class="mb-3"> -->
              <label class="form-label" for="taxCategories_id">Condición ante el IVA</label>
              <select class="form-select " name="taxCategories" id="selectIva" [(ngModel)]="provider.taxCategories.id" (ngModelChange)="checkIva($event)" required >
               <option *ngFor="let tax of taxesList; index as i" [ngValue]="{id: tax.taxcategories_id, name: tax.taxcategories_denominations}">{{tax.taxcategories_denominations}}</option>
              <!--    <option value="auton">Autónomo</option>
                <option value="monot">Monotributista</option>
                <option value="exc">Excento</option>
                <option value="consFin">Consumidor Final</option>-->
              </select>
              
            </div>
          
           <!--  </div>
            <div class="row border-1 "> -->
            <div class="col-9">

                <h5>Datos de Contacto</h5>
                <div class="row">
                <div class="col-12">

                <div class="row">
                <div class="col-5 mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" name="contact_firstName" [(ngModel)]="provider.contact_firstName">
                </div>
                <div class="col-4 mb-3">
                <label class="form-label">Apellido</label>
                <input type="text" class="form-control" placeholder="Apellido" name="contact_lastName" [(ngModel)]="provider.contact_lastName">
                </div>
                <div class="col-3 mb-3">
                    <label class="form-label">Rol</label>
                    <input type="text" class="form-control" placeholder="Rol en la empresa" name="contact_role" [(ngModel)]="provider.contact_role">
                    </div>
            </div>
            <div class="row">
                <div class="col-6 mb-3">
                <label class="form-label">Teléfono de contacto</label>
                <input type="text" class="form-control" placeholder="Teléfono de contacto" name="contact_phone" [(ngModel)]="provider.contact_phone">
                </div>
                <div class="col-6 mb-3">
                <label class="form-label">E-Mail personal</label>
                <input type="text" class="form-control" placeholder="emailpersonal@email.com" name="contact_email" [(ngModel)]="provider.contact_email">
                </div>
                
           
            </div>


            </div>
            </div>

            </div>
        </div>
            <div class="row border-1 ">
                <div class="  flex-column-reverse ">
            <button type="submit" class="btn btn-success me-2" [disabled]="!miForm.valid">Guardar</button>
        </div>
        <div class="flex-column-reverse ">
            <button class="btn btn-warning " (click)="resetForm(miForm)">Limpiar</button>
        </div>
        </div>
        
        </form>
        <div *ngIf="msg" class="alert alert-success alert-dismissible fade show mt-4" role="alert">
            {{msg}}
            <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
