<div class="row align-middle ">
  <!--     <div class="col-md-7">
        <h3>Listado de usuarios</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let u of usuarios">
                    <td>
                        <img src="{{u.avatar}}" alt="{{u.first_name}}" width="100px">
                    </td>
                    <td>{{u.first_name}}</td>
                    <td>{{u.last_name}}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-secondary " (click)="update(u.id)">Modificar</button>
                        <button class="btn btn-sm btn-outline-danger " (click)="delete(u.id)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
    <div class="col-md-12">
        <h3>{{title}}</h3>
        <form #miForm="ngForm" (ngSubmit)="submitProveedor(miForm)">
            <!-- <input type="hidden" name="id" [(ngModel)]="usersService.datosUsuario.id"> -->
            <div class="col-md-7">
            <div class="mb-4">
                <label class="form-label">Código Proveedor</label>
                <input type="text" class="form-control" placeholder="Código Proveedor" name="codigo" [(ngModel)]="provider.code" required minlength="4" #name="ngModel">
                <div *ngIf="name.errors?.['minlength']" class="col-auto">
                    <span class="form-text text-danger ">
                        Debe tener almenos 4 caracteres
                    </span>
                </div>
                <div *ngIf="name.errors?.['required']" class="col-auto">
                    <span class="form-text text-danger">
                        El dato es obligatorio
                    </span>
                </div>
            </div>
            <div class="mb-4">
              <label class="form-label">Razón Social</label>
              <input type="text" class="form-control" placeholder="Razón Social" name="razonSocial" [(ngModel)]="provider.razonSocial" required minlength="4" #name="ngModel">
              <div *ngIf="name.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="name.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">Rubro</label>
              <input type="text" class="form-control" placeholder="Rubro" name="rubro" [(ngModel)]="provider.rubro" required minlength="4" #name="ngModel">
              <div *ngIf="name.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="name.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">Sitio Web</label>
              <input type="text" class="form-control" placeholder="Sitio Web" name="sitioWeb" [(ngModel)]="provider.sitioWeb" required minlength="4" #name="ngModel">
              <div *ngIf="name.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="name.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">E-Mail</label>
              <input type="email" class="form-control" placeholder="email@email.com" name="email" [(ngModel)]="provider.email" required minlength="4" #name="ngModel">
              <div *ngIf="name.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="name.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">Teléfono</label>
              <input type="text" class="form-control" placeholder="Número Telefónico" name="telefono" [(ngModel)]="provider.telefono" required minlength="4" #name="ngModel">
              <div *ngIf="name.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="name.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">Dirección</label>
              <input type="text" class="form-control" placeholder="Calle y altura" name="direccion" [(ngModel)]="provider.direccion" required minlength="4" #name="ngModel">
              <div *ngIf="name.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="name.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">País</label>
              <input type="text" class="form-control" placeholder="País" name="pais" [(ngModel)]="provider.pais" required minlength="4" #name="ngModel">
              <div *ngIf="name.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="name.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">Provincia / Estado</label>
              <input type="text" class="form-control" placeholder="Provincia" name="provincia" [(ngModel)]="provider.provincia" required minlength="4" #name="ngModel">
              <div *ngIf="name.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="name.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">Ciudad</label>
              <input type="text" class="form-control" placeholder="Ciudad" name="ciudad" [(ngModel)]="provider.ciudad" required minlength="4" #name="ngModel">
              <div *ngIf="name.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="name.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">C.U.I.T.</label>
              <input type="text" class="form-control" placeholder="Número de C.U.I.T." name="cuit" [(ngModel)]="provider.cuit" required minlength="4" #name="ngModel">
              <div *ngIf="name.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="name.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">Condición ante el IVA</label>
              <input type="text" class="form-control" placeholder="Condición ante IVA" name="condIVA" [(ngModel)]="provider.condIVA" required minlength="4" #name="ngModel">
              <div *ngIf="name.errors?.['minlength']" class="col-auto">
                  <span class="form-text text-danger ">
                      Debe tener almenos 4 caracteres
                  </span>
              </div>
              <div *ngIf="name.errors?.['required']" class="col-auto">
                  <span class="form-text text-danger">
                      El dato es obligatorio
                  </span>
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <h4>Datos de Contacto</h4>
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" name="nombre" [(ngModel)]="provider.nombre">
            </div>
            <div class="mb-3">
              <label class="form-label">Apellido</label>
              <input type="text" class="form-control" placeholder="Apellido" name="apellido" [(ngModel)]="provider.apellido">
            </div>
            <div class="mb-3">
              <label class="form-label">Teléfono de contacto</label>
              <input type="text" class="form-control" placeholder="Teléfono de contacto" name="teleContacto" [(ngModel)]="provider.teleContacto">
            </div>
            <div class="mb-3">
              <label class="form-label">E-Mail personal</label>
              <input type="text" class="form-control" placeholder="emailpersonal@email.com" name="mailContacto" [(ngModel)]="provider.mailContacto">
            </div>
            <div class="mb-3">
              <label class="form-label">Rol</label>
              <input type="text" class="form-control" placeholder="Rol en la empresa" name="rolContacto" [(ngModel)]="provider.rolContacto">
            </div>
            <button type="submit" class="btn btn-outline-success me-2" [disabled]="!miForm.valid">Guardar</button>
            <button class="btn btn-outline-warning " (click)="resetForm(miForm)">Limpiar</button>
          </div>
        </form>
        <div *ngIf="msg" class="alert alert-success alert-dismissible fade show mt-4" role="alert">
            {{msg}}
            <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
