<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5 ">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="">Inicio</a></li>
                    <li class="breadcrumb-item active">Listado de Órdenes</li>
                </ol>

                <button class="btn btn-sm btn-info  float-end " routerLink="/ordenes/nueva-orden"> + Nueva orden</button>
            </div>
            <div class="col-md-5 ">
                <input type="text" placeholder="Buscar" [(ngModel)]="search" class="input float-end ">
            </div>
        </div>
        <table class="table table-hover m-5 text-center border-info">
            <thead class="border-bottom">
                <th>Cod.</th>
                <th>Fecha</th>
                <th>Proveedor</th>
                <th>Total</th>
                <th>Entrega</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                <tr *ngIf="empty">
                    <td colspan="5" >{{empty}}</td> 
                </tr>
                <tr *ngFor="let p of ordersList | filterPipe: search" >
                    
                    <td>{{p.purchases_order_code}}</td>
                    <td>{{p.purchases_order_date}}</td>
                    <td>{{p.providers_id.providers_denomination}}</td>
                    <td>{{p.purchases_order_final_price | currency:'ARS' :'$'}}</td>
                    <td>{{p.purchases_order_delivery_date}}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-secondary  m-1" routerLink="/ordenes/{{p.id}}">Ver</button>
                        <button class="btn btn-sm btn-outline-danger m-1" (click)="desactivarOrder(p.id)">Eliminar</button>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>
