<div class="container m-5">


    <h1></h1>
    <div class="row ">
        <div class="col-4">
            <button routerLink="/proveedores/nuevo" class="btn">
                <img src="../../../assets/images/proveedor-hotelero.png" alt="" width="100rem">
                Nuevo Proveedor
            </button>

        </div>
        <div class="col-4">
            <button routerLink="/productos/nuevo" class="btn">
                <img src="../../../assets/images/paquetes.png" alt="" width="100rem">
                Nuevo Producto
            </button>

        </div>
        <div class="col-4">

            <button routerLink="ordenes/nueva-orden" class="btn">
                <img src="../../../assets/images/proveedor.png" alt="" width="100rem">
                Nueva Orden
            </button>
        </div>
    </div>
</div>
