<div class="container m-5">

    <h3>{{title}}</h3>


    <form [formGroup]="providersForm" (ngSubmit)="submitProvider()">
        <!-- ... código - razón social - rubro... -->
        <div class="row">
            <div class="col-md-4 mb-3">
                <input type="text" class="form-control" placeholder="Código Proveedor" formControlName="providers_id" hidden>
                <label class="form-label">Código <span class="text-danger"
                        *ngIf="providersForm.get('providers_code')?.hasError('required')"> *</span></label>
                <input type="text" class="form-control" placeholder="Código Proveedor" formControlName="providers_code">
                <div *ngIf="providersForm.get('providers_code')?.hasError('minlength')" class="form-text text-danger">
                    Debe tener al menos 3 caracteres
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Razón Social <span class="text-danger"
                        *ngIf="providersForm.get('providers_denomination')?.hasError('required')"> *</span></label>
                <input type="text" class="form-control" placeholder="Razón Social" formControlName="providers_denomination">
                <div *ngIf="providersForm.get('providers_denomination')?.hasError('minlength')" class="form-text text-danger">

                    Debe tener al menos 2 caracteres

                </div>
            </div>
            <div class="col-md-4 mb-3">

                <label class="form-label" for="sectorsfield">Rubro<span class="text-danger"
                        *ngIf="providersForm.get('sectorsfield_id')?.hasError('required')"> *</span></label>

                <select class="form-select" formControlName="sectorsfield_id" required>
                    <option *ngFor="let item of rubroLista" [value]="item.sectorsfield_id">{{item.sectorsfield_name}}
                    </option>
                </select>
            </div>
        </div>

        <!-- Logo - Web - email - phone --------------------------- -->
        <div class="row">
            <div class="col-md-3 mb-3">
                <label class="form-label" for="logo">Logo </label>
                <input type="text" class="form-control" placeholder="URL Logo" formControlName="providers_logo">
                <div *ngIf="providersForm.get('providers_logo')?.hasError('minlength')"
                    class="position-absolute top-0 end-0 translate-middle p-1">
                    <span class="form-text text-danger">
                        Debe tener al menos 3 caracteres
                    </span>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label class="form-label">Sitio Web </label>
                <input type="text" class="form-control" placeholder="URL Web" formControlName="providers_website">
                <div *ngIf="providersForm.get('providers_website')?.hasError('minlength')"
                    class="position-absolute top-0 end-0 translate-middle p-1">
                    <span class="form-text text-danger">
                        Debe tener al menos 3 caracteres
                    </span>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label class="form-label">E-mail <span class="text-danger"
                        *ngIf="providersForm.get('providers_email')?.hasError('required')"> *</span></label>
                <input type="text" class="form-control" placeholder="usuario@dominio.com" formControlName="providers_email">
                <div *ngIf="providersForm.get('providers_email')?.hasError('minlength')"
                    class="position-absolute top-0 end-0 translate-middle p-1">
                    <span class="form-text text-danger">
                        Debe tener al menos 3 caracteres
                    </span>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label class="form-label">Teléfono <span class="text-danger"
                        *ngIf="providersForm.get('providers_phone')?.hasError('required')"> *</span></label>
                <input type="text" class="form-control" placeholder="Número telefónico" formControlName="providers_phone">
                <div *ngIf="providersForm.get('providers_phone')?.hasError('minlength')"
                    class="position-absolute top-0 end-0 translate-middle p-1">
                    <span class="form-text text-danger">
                        Debe tener al menos 6 caracteres
                    </span>
                </div>
            </div>
        </div>
        <!--  Dirección completa-------------------------------- -->


        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label" for="country">País<span class="text-danger"
                            *ngIf="providersForm.get('providers_country')?.hasError('required')"> *</span></label>

                    <select class="form-select" formControlName="providers_country" (ngModelChange)="showJurisdictions($event)"
                        required>
                        <option *ngFor="let item of countriesList" [value]="item.countries_id">{{item.countries_name}}
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="jurisdiction">Provincia<span class="text-danger"
                            *ngIf="providersForm.get('jurisdictions_id')?.hasError('required')"> *</span></label>

                    <select class="form-select" formControlName="jurisdictions_id" required>
                        <option *ngFor="let item of jurisdictionsList" [value]="item.jurisdictions_id">
                            {{item.jurisdictions_name}}
                        </option>
                    </select>
                </div>
            </div>


            <div class="col-md-8">
                <!-- Renglón superior para calle y número -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Calle <span class="text-danger"
                                *ngIf="providersForm.get('providers_street')?.hasError('required')"> *</span></label>
                        <input type="text" class="form-control" placeholder="Calle" formControlName="providers_street">
                        <div *ngIf="providersForm.get('providers_street')?.hasError('minlength')" class="form-text text-danger">

                            Debe tener al menos 3 caracteres

                        </div>


                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Número <span class="text-danger"
                                *ngIf="providersForm.get('providers_addressnumber')?.hasError('required')"> *</span></label>
                        <input type="number" class="form-control" placeholder="Número" formControlName="providers_addressnumber">
                        <div *ngIf="providersForm.get('providers_addressnumber')?.hasError('minlength')"
                            class="form-text text-danger">

                            Debe tener al menos 1 caracteres

                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Código Postal <span class="text-danger"
                                *ngIf="providersForm.get('providers_cp')?.hasError('required')"> *</span></label>
                        <input type="text" class="form-control" placeholder="AA8000" formControlName="providers_cp">
                        <div *ngIf="providersForm.get('providers_cp')?.hasError('minlength')"
                            class="form-text text-danger">

                            Debe tener al menos 3 caracteres

                        </div>
                    </div>
                </div>

                <!-- ------------------------------------- -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Ciudad <span class="text-danger"
                                *ngIf="providersForm.get('providers_city')?.hasError('required')"> *</span></label>
                        <input type="text" class="form-control" placeholder="Ciudad" formControlName="providers_city">
                        <div *ngIf="providersForm.get('providers_city')?.hasError('minlength')"
                            class="form-text text-danger">

                            Debe tener al menos 3 caracteres

                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Información Adicional</label>
                        <input type="text" class="form-control" placeholder="Datos adicionales sobre el domicilio"
                            formControlName="providers_addressinfo">
                        <div *ngIf="providersForm.get('providers_addressinfo')?.hasError('minlength')"
                            class="form-text text-danger">

                            Debe tener al menos 1 caracteres

                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!--  Datos fiscales y del contacto --------  -->

        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label">CUIT <span class="text-danger"
                        *ngIf="providersForm.get('providers_cuit')?.hasError('required')"> *</span></label>
                <input type="text" class="form-control" placeholder="11-11111111-1" formControlName="providers_cuit" (input)="onCuitInput($event)" >
                <div *ngIf="providersForm.get('providers_cuit')?.hasError('pattern')" class="position-absolute top-0 end-0 translate-middle p-1">
                    <span class="form-text text-danger">
                      El CUIT debe contener solo números y tener entre 10 y 11 dígitos.
                    </span>
                  </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="iva">Situación Fiscal<span class="text-danger"
                            *ngIf="providersForm.get('taxcategories_id')?.hasError('required')"> *</span></label>

                    <select class="form-select" formControlName="taxcategories_id" required>
                        <option *ngFor="let item of taxesList" [value]="item.taxcategories_id">
                            {{item.taxcategories_denominations}}
                        </option>
                    </select>
                </div>
            </div>


            <div class="col-md-8">
                <!-- Renglón superior para calle y número -->
                <div class="row mb-3">
                    <div class="col-md-5">
                        <label class="form-label">Nombre <span class="text-danger"
                                *ngIf="providersForm.get('providers_contact_firstname')?.hasError('required')"> *</span></label>
                        <input type="text" class="form-control" placeholder="Nombre" formControlName="providers_contact_firstname">
                        <div *ngIf="providersForm.get('providers_contact_firstname')?.hasError('minlength')" class="form-text text-danger">

                            Debe tener al menos 2 caracteres

                        </div>


                    </div>
                    <div class="col-md-5">
                        <label class="form-label">Apellido <span class="text-danger"
                                *ngIf="providersForm.get('providers_contact_lastname')?.hasError('required')"> *</span></label>
                        <input type="text" class="form-control" placeholder="Apellido" formControlName="providers_contact_lastname">
                        <div *ngIf="providersForm.get('providers_contact_lastname')?.hasError('minlength')"
                            class="form-text text-danger">

                            Debe tener al menos 2 caracteres

                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Rol <span class="text-danger"
                                *ngIf="providersForm.get('providers_contact_role')?.hasError('required')"> *</span></label>
                        <input type="text" class="form-control" placeholder="Número" formControlName="providers_contact_role">
                        <div *ngIf="providersForm.get('providers_contact_role')?.hasError('minlength')"
                            class="form-text text-danger">

                            Debe tener al menos 2 caracteres

                        </div>
                    </div>
                </div>

                <!-- Renglón inferior para código postal e información adicional -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Teléfono <span class="text-danger"
                                *ngIf="providersForm.get('providers_contact_phone')?.hasError('required')"> *</span></label>
                        <input type="text" class="form-control" placeholder="Teléfono Contacto" formControlName="providers_contact_phone">
                        <div *ngIf="providersForm.get('providers_contact_phone')?.hasError('minlength')"
                            class="form-text text-danger">

                            Debe tener al menos 5 caracteres

                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Email <span class="text-danger"
                            *ngIf="providersForm.get('providers_contact_email')?.hasError('required')"> *</span></label>
                        <input type="text" class="form-control" placeholder="Email del Contacto"
                            formControlName="providers_contact_email">
                        <div *ngIf="providersForm.get('providers_contact_email')?.hasError('minlength')"
                            class="form-text text-danger">

                            Debe tener al menos 5 caracteres

                        </div>
                    </div>
                </div>
            </div>


        </div>




        <!-- ...            ---------------------------------- -->
        <div class="row border-1">
            <!-- ... Resto del formulario ... -->
        </div>

        <div class="row border-1 justify-content-end mt-3">
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-success me-2" [disabled]="!providersForm.valid">Guardar</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-warning" (click)="resetForm()">Limpiar</button>
            </div>
        </div>

    </form>


</div>