<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 mb-4">
    <div class="container">
      <a class="navbar-brand" href="#">Sistema de Gestión</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" href="#">Inicio</a>
          </li>
          <li ngbDropdown class="nav-item">
            <div ngbDropdown class="d-inline-block">
              <a class="nav-link mx-2 dropdown-toggle" id="proveedoresDropdown" ngbDropdownToggle>
                Proveedores
              </a>
              <div ngbDropdownMenu aria-labelledby="proveedoresDropdown">
                <a class="dropdown-item" routerLink="/proveedores/nuevo">Nuevo Proveedor</a>
                <a class="dropdown-item" routerLink="/proveedores">Listado de Proveedores</a>
              </div>
            </div>
          </li>
          <li ngbDropdown class="nav-item">
            <div ngbDropdown class="d-inline-block">
              <a class="nav-link mx-2 dropdown-toggle" id="productosDropdown" ngbDropdownToggle>
                Productos
              </a>
              <div ngbDropdownMenu aria-labelledby="productosDropdown">
                <a class="dropdown-item" routerLink="/productos/nuevo">Nuevo Producto</a>
                <a class="dropdown-item" routerLink="/productos">Listado de Productos</a>
              </div>
            </div>
          </li>
          <li ngbDropdown class="nav-item">
            <div ngbDropdown class="d-inline-block">
              <a class="nav-link mx-2 dropdown-toggle" id="ordenesDropdown" ngbDropdownToggle>
                Ordenes
              </a>
              <div ngbDropdownMenu aria-labelledby="ordenesDropdown">
                <a class="dropdown-item" routerLink="/ordenes/nueva-orden">Nueva Orden</a>
                <a class="dropdown-item" routerLink="/ordenes">Listado de Ordenes</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    </nav>

       <!-- <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink="/proveedores" routerLinkActive="active">Proveedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink="/productos" routerLinkActive="active">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink="/ordenes" routerLinkActive="active">Ordenes</a>
          </li>

       


        </ul>
        
        
        
        
        <li class="nav-item dropdown">
            <a class="nav-link mx-2 dropdown-toggle"routerLink="/ordenes" 
                routerLinkActive="active" id="navbarDropdownMenuLink"   
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ordenes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item dropdown-menu-item" routerLink="/ordenes">Listado</a></li>
              <li><a class="dropdown-item dropdown-menu-item" routerLink="/ordenes/nueva-orden">Nueva Orden</a></li>
            </ul> 
          </li> -->