img {
    border: 2px solid #a7a6a6;
  }
  
/*  .infoTooltip  .tooltip{
    background: #aa5e2b !important;
  }*/

  ::ng-deep .tooltip-inner {
    background-color:#2754cf!important
}

i {
  color:#2754cf!important
}